/* Icons
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$circle-complementary-bg: $bc-white;
$circle-icon-sets-bg: $bc-violet-500;
$circle-icon-sizes-bg: $bc-cerulean-500;
$circle-icon-colors-bg: $bc-blue-500;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$icon-circle-margin: $xxxl auto $xxl;
$icon-circle-size: 137px;
$circle-complementary-size: 105px;
$icon-guide-zindex: $zindex-top;
