extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Writing Guides
      h4
        | Learn the best way to communicate with users in a clear and consistent way.
    hr
    .dashboard-writing
      .writing-mosaic
        img.img-responsive(src='/images/dashboard-writing/writing-splash.svg', alt='EOS - Writing guides')
      .row
        .col-sm-4
          a.card-colored.brand-voice-card(href='writing/brand-voice')
            .card-colored-content
              figure
                img(src='/images/dashboard-writing/microphone.svg', alt='EOS - Brand voice')
              header
                h3
                  | Brand voice
                p
                  | Who we are is percived in how we write: expert, adaptive, etc.
                br
            footer
              p
                | Read more
        .col-sm-4
          a.card-colored.brand-tone-card(href='writing/brand-tone')
            .card-colored-content
              figure
                img(src='/images/dashboard-writing/volumen.svg', alt='EOS - Brand voice')
              header
                h3
                  | Brand tone
                p
                  | Our writing changes its tone according to different scenarios: success, error, etc.
            footer
              | Read more
        .col-sm-4
          a.card-colored.ux-writing-card(href='writing/ux-writing')
            .card-colored-content
              figure
                img(src='/images/dashboard-writing/pencil.svg', alt='EOS - Brand voice')
              header
                h3
                  | UX writing
                p
                  | Every person writes in their own way. As a brand we should write consistensly as well.
            footer
              | Read more
    hr
    article
      h3.title-strong
        | Conventions and rules
      p
        | In addition to learning about how to express our voice and tone 
        | through proper UX writing, it is also important that we follow 
        | certain 
        a(href='writing/conventions-and-rules')
          | conventions and rules 
        | in order for our writing to be seen as coming from a single entity.
      p 
        | You'll find information such as capitialization rules for titles and 
        | text as well as general conventions for punctuation.
