/* Header styles
   ========================================================================== */
.main-menu {
  header {
    align-items: center;
    border-bottom: 1px solid $main-menu-hr-color;
    display: flex;
    height: $submenu-height;
    justify-content: space-between;
    margin-bottom: $main-menu-spacing;
    padding-left: $main-menu-spacing-burger;
    padding-right: $main-menu-spacing;

    i {
      color: $header-text-color;
      cursor: pointer;
      margin: 0;
      width: $header-icon-size;
    }

    img {
      height: 20px;
    }

    .design-system {
      color: $header-text-color;
      display: inline-block;
      font-size: $header-font-size;
      font-weight: $font-weight-light-base;
      vertical-align: middle;
    }
  }
}
