/* Layout variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/landing-page/base/variables/colors.scss */
$aside-width: 250px;
$body-bg: url('../images/landing/background.jpg');
$landing-pattern: url('../images/landing/pattern.png') repeat;
$landing-intro-bg: url('../images/landing/bg-intro.png');
$var-intro-bg:  $landing-pattern, $landing-intro-bg;
$bottom-links-background: #ff420a;
$var-bottom-links: $landing-pattern, $bottom-links-background;
$body-color: $eos-white;
