extends ../layouts/layout-main
block content
  .container
    section
      h1
        | Design specs
      p
        | List of design specs for our product with the relevant link to XD file and Trello
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
            .col-sm-6
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .material-icons.md-18.js-icons-search-close.clickable
                    | close
    section.design-specs
      .icons-list.js-design-specs-list
        .js-icons-search-empty.hidden
          .alert.alert-info.text-center
            | No design specs found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-2
            h4
              | Name
          .col-sm-2
            h4
              | Tag
          .col-sm-2
            h4
              | XD specs
          .col-sm-2
            h4
              | XD backup
          .col-sm-1
            h4
              | Trello
          .col-sm-3
            h4
              | Document description
          hr.hr-dotted
        article.js-design-specs-item
          .row
            .col-sm-2
              h4.js-design-specs-name
              span.js-design-specs-date
            .col-sm-2
              .label.label-info.js-design-specs-tag
            .col-sm-2
              a.js-design-specs-xd-specs(target='_blank')
                | XD specs
            .col-sm-2
              a.js-design-specs-xd-backup(target='_blank')
                | XD backup
            .col-sm-1
              a.js-design-specs-trello(target='_blank')
                | Trello
            .col-sm-3
              span.js-design-specs-description
          hr.hr-dotted
