a.news-card-container.js-article-container.modal-link
  .card.card-horizontal.featured.article-content
    .card-content
      header
        h3
      figure
        img.img-responsive(src='#')
    footer
      span
        | Read articles
