extends ../layouts/layout-main

block content
  .container.js-eos-icons-set
    section
      h1
        | EOS icon set
      h4
        | The EOS icons are a handcrafted iconic font designed using the Material Design guidelines. They are 100% compliant with the MD icons, also use ligatures, and are downloadable as an Open Source project on gitlab or via NPM.
    hr

    section
      .row.icon-set-utility
        .col-md-7.col-xs-12
          p
            | Get the EOS icon set:
          .icons-btn-group
            a.btn.btn-default.js-eos-icons-repo-link(href='', target='_blank')
              img.material-icons.md-18(src='/images/icons/gitlab.svg')
              span
                | Download v
                i.js-eos-icons-version
                |  from gitlab
            a.btn.btn-default(href='https://www.npmjs.com/package/eos-icons', target='_blank')
              img.material-icons.md-18(src='/images/icons/npm.svg')
              span
                | See the npm package
        .col-md-5.col-xs-12
          p
            | Get the extended set with both Google Material and the EOS icon sets in one font by 
            a(href='https://gitlab.com/SUSE-UIUX/eos-icons/tree/master/dist/extended/', target='_blank')
              | clicking here.

      hr
      .row
        .pull-right
          .icons-search-wrap
            input.js-eos-icon-filter(type='search', name='eos-icon-filter', placeholder='Type to search')
            i.material-icons.md-18
              | search
      .row.eos-icons-notification.js-eos-icons-notification
      .js-eos-icons-list.icons-set-list
        .icon-display.js-icon-display.js-panel-slidein-open
          .eos-icons.js-eos-icons.md-48
          strong.icon-name.js-icon-name

      // Panel-slidein component to show more information after clicking .js-panel-slidein-open
      .panel-slidein.js-panel-slidein.panel-slidein-right
        .panel-slidein-body
          include ../includes/panel-slidein/eos-icons.pug
        .panel-slidein-footer
          h6
            | Tags
          .js-eos-icons-tags-list
            span.label.label-default.js-eos-icons-tag

        .panel-slidein-close.material-icons.md-18.pull-right.js-panel-slidein-close
          | close
      hr
      .row
        .col-xs-12
          | If you couldn't find the icon you were looking for, open a  
          a(href='https://gitlab.com/SUSE-UIUX/eos/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=', target='_blank')
            |  Gitlab issue 
          |
          | detailing the use case you need to represent graphically. Add as much information as possible (purpose of 
          | the icon, product it is intended for, etc) to help us provide a better result. 
