extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Icon UX

      h4
        | Icons serve as an effective visual aid and are also useful to save space on the screen. Done correctly,
        | icons can help guide users intuitively through a workflow without relying on too much copy.
    hr
    article
      p
        | Eye tracking research has shown that users scan from the left in a vertical movement. In order for icons to serve as a visual scanning aid,
        | users need to see them before they see the button label. Placing them to the left of a label allows users to see the icon first. 
        | If you place icons to the right of your label, users read the label first and therefore the icon serves no purpose other than decoration. 

      p
        | For clearer usability, always use labels with abstract or unfamiliar icons.
      hr.transparent
      h3.title-strong
        | Best practices
      .row
        .col-md-3.col-xs-12
          h4
            | Position
          p
            | Place icons before labels in order for users to see them first.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    strong
                      | Icon with label
                    p
                      figure
                        img.img-responsive(src='/images/icons-ux/horizontal-nav-01.jpg')
                  li
                    strong
                      | Only icon
                    p
                      figure
                        img.img-responsive(src='/images/icons-ux/horizontal-nav-02.jpg')
    hr.transparent
    article
      .row
        .col-md-3.col-xs-12
          p
            | Align the icon vertically with the label heading, instead of centering it with the heading and body.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .col-md-6.col-xs-12.do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Do
              .do-dont-content.icons-ux-alignment 
                i.material-icons.md-24
                  | dashboard
                .vertical-content
                  h4
                    | Heading
                  p
                    | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.

            .col-md-6.col-xs-12.dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Don't
              .do-dont-content.icons-ux-alignment 
                i.material-icons.md-24.vertical-align-icon
                  | dashboard
                .vertical-content
                  h4
                    | Heading
                  p
                    | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.
    hr.transparent
    article
      .row
        .col-md-3.col-xs-12
          h4
            | Spacing
          p
            | Icons should be separated by 8px of space or more to prevent users from activating the wrong icon and invoking the wrong action.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  figure.text-center
                    img.img-responsive(src='/images/icons-ux/spacing.jpg')
    hr.transparent
    article
      .row
        .col-md-3.col-xs-12
          h4
            | Tooltip
          p
            | Use a tooltip if an icon has no label and needs some short explanation. For example, toolbar controls and command buttons without labels should have tooltips.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                figure.tooltip-eg
                  img.img-responsive(src='/images/icons-ux/tooltip-eg.jpg')
    hr.transparent
    section
      h3.title-strong
        | Logo icons
      p
        | Third-party logos used as icons in our interfaces should be harmonious with our icon set.
      hr.transparent
      h4.title-strong
        | Logo wrapper
      .row
        .col-md-8
          h5
            | Size
          p
            | When a wrapper is present, its size should be the icon size and the logo inside should be one scale less.
            | For example, a 36px logo icon with a wrapper is composed of a 36px wrapper and a 24px icon inside.
        .col-md-4.logos-icons
          img.logos-icons-size(src='/images/logos-guide/logo-wrap-info.svg')
      .row
        .col-md-12
          h5
            | Type
          p
            | For some situations (such as social network links) we can use a square wrapper as well.
            | Square with 0px or 2px rounded borders only.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#default-button-examples', aria-controls='default-button-examples', role='tab', data-toggle='tab')
                | Implementation examples
            li(role='presentation')
              a(href='#default-button-css-snippet', aria-controls='default-button-css-snippet', role='tab', data-toggle='tab')
                | SCSS code snippet
            .tab-content
              #default-button-examples.tab-pane.active(role='tabpanel')
                h6.title-strong
                  | Implementation of logo icon dark wrapper
                .implementation-example
                  .result
                    img.md-36.md-dark-wrapper.logo.logo-square(src='/images/icons/gitlab-white.svg')
                    img.md-36.md-dark-wrapper.logo.logo-round(src='/images/icons/gitlab-white.svg')
                  pre.prettyprint
                    code
                      | &lt;img src='gitlab-white.svg' class='md-36 md-dark-wrapper logo logo-square'/&gt;
                      | &lt;img src='gitlab-white.svg' class='md-36 md-dark-wrapper logo logo-round'/&gt;
                h6.title-strong
                  | Implementation of logo icon light wrapper
                .implementation-example
                  .result.dark-bg
                    img.md-36.md-light-wrapper.logo.logo-square(src='/images/icons/gitlab-dark.svg')
                    img.md-36.md-light-wrapper.logo.logo-round(src='/images/icons/gitlab-dark.svg')
                  pre.prettyprint
                    code
                      | &lt;img src='gitlab-dark.svg' class='md-36 md-light-wrapper logo logo-square'/&gt;
                      | &lt;img src='gitlab-dark.svg' class='md-36 md-light-wrapper logo logo-round'/&gt;
              #default-button-css-snippet.tab-pane(role='tabpanel')
                pre.prettyprint
                  code
                    |   /* Logo icons style */
                    |  .logo {
                    |     margin-right: $logo-icon-margin;
                    |     padding: $logo-icon-padding;
                    |
                    |     &-square {
                    |        border-radius: 0;
                    |     }
                    |
                    |    &-round {
                    |      border-radius: $logo-icon-wrapper-round;
                    |    }
                    |  }
                    |
                    |  .md-dark-wrapper {
                    |    background: $md-dark;
                    |
                    |    &.md-inactive {
                    |      background: $md-dark-inactive;
                    |    }
                    |  }
                    |
                    |  .md-light-wrapper {
                    |    background: $md-light;
                    |
                    |    &.md-inactive {
                    |      background: $md-light-inactive;
                    |    }
                    |  }
