/* Base variables for icons
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */

/* Icons */
$icon-new-size: $font-size-base;
$icon-new-color: $bc-green-500;
$icon-new-active-color: $bc-white;
$logo-icon-margin: 8px;
$logo-icon-padding: 6px;
$logo-icon-wrapper-round: 2px;

/* Material icons variables */
// colors
$md-light: $bc-white;
$md-light-inactive: rgba($md-light, 0.3);
$md-dark: rgba($bc-black, 0.54);
$md-dark-inactive: rgba($bc-black, 0.26);
// sizes
$md-18: 18px;
$md-24: 24px;
$md-36: 36px;
$md-48: 48px;
