/* Steps progress bar
   ========================================================================== */
/* Variables file: assets/stylesheets/components/steps-progress-bar/steps-progress-bar.variables.scss */
.steps-progress-bar {
  margin: 0 auto;

  li {
    color: $spb-color;
    float: left;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 25%;

    /* Bullets color */
    &.brand-voice-icon a span {
      background-color: $spb-first-circle-color;
    }

    &.brand-tone-icon a span {
      background-color: $spb-second-circle-color;
    }

    &.ux-writing-icon a span {
      background-color: $spb-third-circle-color;
    }

    &.conventions-rules-icon a span {
      background-color: $spb-fourth-circle-color;
    }

    &.selected {

      &.brand-voice-icon a p {
        color: $spb-first-circle-color;
      }

      &.brand-tone-icon a p {
        color: $spb-second-circle-color;
      }

      &.ux-writing-icon a p {
        color: $spb-third-circle-color;
      }

      &.conventions-rules-icon a p {
        color: $spb-fourth-circle-color;
      }

      a {
        cursor: default;
        pointer-events: none;

        .steps-wrapper {
          width: $spb-wrapper-size-selectred;
        }

        span {
          height: $spb-wrapper-selected-size;
          line-height: $spb-wrapper-selected-size;
          margin-top: 0px;
          width: $spb-wrapper-selected-size;
        }
      }
    }

    a {
      color: $spb-color;
      display: inline-block;
    }

    .steps-wrapper {
      background-color: $body-bg;
      margin: 0 auto;
      transition: all 0.2s ease;
      width: $spb-size;

      &:hover {
        transform: scale(1.3);
      }

      &:active {
        transform: scale(1.4);
      }

      span {
        background-color: $spb-wrapper-background-span;
        border-radius: 50%;
        display: inline-block;
        height: $spb-wrapper-size-span;
        line-height: $spb-wrapper-size-span;
        margin-top: $spb-wrapper-span-margin-top;
        width: $spb-wrapper-size-span;
      }
    }

    p {
      color: $spb-wrapper-title;

      @media screen and (max-width: $sd-max) {
        /* Hide text in small devices */
        display: none;
      }
    }

    &:after {
      background-color: $spb-after;
      bottom: $spb-after-bottom;
      content: '';
      height: $spb-after-height;
      left: -50%;
      position: absolute;
      width: 100%;
      z-index: $spb-z-index;
    }

    &:first-child:after {
      content: none;
    }
  }
}
