extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Buttons
      h4
        | Buttons are elements used to perform actions such as submitting a form, 
        | opening a dialog, or cancelling an action. They are an essential element 
        | of interaction design and have a primary role in the conversation between a user and the system.

      h4
        | There are a number of options you can use when styling a button, such as size, colour, 
        | and disabled state.
    hr
    article
      section.margin-top-xxl
        h3.title-strong
          | Button vs. link
        p
          | The HTML elements for buttons and links describe a very specific type of action that is 
          | going to be taken when they are used. However, it is important to know when to use one or 
          | the other in a specific situation:
        ul.list-no-padding
          li
            | Use links for navigating to other pages.
          li
            | Use buttons for performing an action, such as: “submit,” “merge,” “create new,”
            | “upload,” etc. These actions almost always occur on the same page.

        h3.title-strong
          | Default button
        p
          | A default button is the standard button with basic style and the most commonly used option.

        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#default-button-examples', aria-controls='default-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#default-button-css-snippet', aria-controls='default-button-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #default-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-default
                  | Button
                button.btn.btn-default.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-default'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-default disabled'&gt;Button&lt;/button&gt;
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/12f5b3d4-45e2-4f5b-99e9-ff06e3ce9fb6/Web-1920-1/', target='_blank')
              i.material-icons.md-18
                | launch
              | Buttons design specifications
          #default-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Button */
                  | .btn { 
                  |   border-radius: 2px; 
                  |   font-weight: bold;
                  |   line-height: 18px;
                  |   padding: 8px 16px;
                  | }
                  |
                  | .btn:active,
                  | .btn.active {
                  |   box-shadow: none;
                  | }
                  |
                  |/* Default button */
                  | .btn-default {
                  |   background-color: transparent;
                  |   border-color: $bc-gray-900;
                  |   color: $bc-gray-900;
                  | }
                  |
                  | .btn-default:hover,
                  | .btn-default:active:hover {
                  |   background-color: transparent;
                  |   border-color: $bc-gray-600;
                  |   color: $bc-gray-600;
                  | }
                  |
                  | .btn-default:active,
                  | .btn-default.active,
                  | .btn-default:focus,
                  | .btn-default.focus,
                  | .btn-default.active.focus,
                  | .btn-default.active:focus,
                  | .btn-default:active:focus,
                  | .btn-default:active.focus {
                  |   background-color: transparent;
                  |   border-color: $bc-gray-500;
                  |   color: $bc-gray-500;
                  | }
                  |
                  | .btn-default.disabled,
                  | .btn-default.disabled:hover,
                  | .btn-default.disabled:focus {
                  |   background-color: transparent;
                  |   border-color: $bc-gray-900;
                  |   color: $bc-gray-900;
                  |   opacity: .60;
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more

      section.margin-top-xxl
        h3.title-strong
          | Inverse
        p
          | Use the inverse button when you want to place a default button on a dark background.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#inverse-button-examples', aria-controls='inverse-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#inverse-button-css-snippet', aria-controls='inverse-button-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #inverse-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result.dark-bg
                button.btn.btn-default-inverse
                  | Button
                button.btn.btn-default-inverse.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-default-inverse'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-default-inverse disabled'&gt;Button&lt;/button&gt;
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/12f5b3d4-45e2-4f5b-99e9-ff06e3ce9fb6/Web-1920-1/', target='_blank')
              i.material-icons.md-18
                | launch
              | Buttons design specifications
          #inverse-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet.js-tooltip(data-toggle='tooltip', title='Copy')
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Button */
                  | .btn { 
                  |   border-radius: 2px; 
                  |   font-weight: bold;
                  |   line-height: 18px;
                  |   padding: 8px 16px;
                  | }
                  |
                  | .btn:active,
                  | .btn.active {
                  |   box-shadow: none;
                  | }
                  |
                  |/* Default button inverse */
                  | .btn-default-inverse {
                  |   background-color: transparent;
                  |   border-color: $bc-white;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-default-inverse:hover,
                  | .btn-default-inverse:active:hover {
                  |   border-color: $bc-gray-200;
                  |   color: $bc-gray-200;
                  | }
                  |
                  | .btn-default-inverse:active,
                  | .btn-default-inverse.active,
                  | .btn-default-inverse:focus,
                  | .btn-default-inverse.focus,
                  | .btn-default-inverse.active.focus,
                  | .btn-default-inverse.active:focus,
                  | .btn-default-inverse:active:focus,
                  | .btn-default-inverse:active.focus {
                  |   border-color: $bc-gray-400;
                  |   color: $bc-gray-400;
                  | }
                  |
                  | .btn-default-inverse.disabled,
                  | .btn-default-inverse.disabled:hover,
                  | .btn-default-inverse.disabled:focus {
                  |   border-color: $bc-white;
                  |   color: $bc-white;
                  |   opacity: .55;
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more

      section.margin-top-xxl
        h3.title-strong
          | Primary button
        p
          | A primary button is used for primary actions that are clearly more 
          | important and need attention drawn to it.
        p
          | The outlined version is the alternative to solid primary buttons. Use these buttons when 
          | actions are primary but don’t want to give extra visual weight.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#primary-button-examples', aria-controls='primary-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#primary-button-css-snippet', aria-controls='primary-button-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #primary-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-primary
                  | Button
                button.btn.btn-outline-primary
                  | Button
                button.btn.btn-primary.disabled
                  | Disabled
                button.btn.btn-outline-primary.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-primary'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-outline-primary'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-primary disabled'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-outline-primary disabled'&gt;Button&lt;/button&gt;
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/12f5b3d4-45e2-4f5b-99e9-ff06e3ce9fb6/Web-1920-1/', target='_blank')
              i.material-icons.md-18
                | launch
              | Buttons design specifications
          #primary-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet.js-tooltip(data-toggle='tooltip', title='Copy')
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Button */
                  | .btn { 
                  |   border-radius: 2px; 
                  |   font-weight: bold;
                  |   line-height: 18px;
                  |   padding: 8px 16px;
                  | }
                  |
                  | .btn:active,
                  | .btn.active {
                  |   box-shadow: none;
                  | }
                  |
                  |/* Primary button */
                  | .btn-primary {
                  |   background-color: $bc-green-500;
                  |   border-color: $bc-green-500;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-primary:hover,
                  | .btn-primary:active:hover {
                  |   background-color: $bc-green-900;
                  |   border-color: $bc-green-900;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-primary:active,
                  | .btn-primary.active,
                  | .btn-primary:focus,
                  | .btn-primary.focus,
                  | .btn-primary.active.focus,
                  | .btn-primary.active:focus,
                  | .btn-primary:active:focus,
                  | .btn-primary:active.focus {
                  |   background-color: $bc-green-700;
                  |   border-color: $bc-green-700;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-primary.disabled,
                  | .btn-primary.disabled:hover,
                  | .btn-primary.disabled:focus {
                  |   background-color: $bc-green-500;
                  |   border-color: $bc-green-500;
                  |   color: $bc-white;
                  |   opacity: .60;
                  | }
                  |
                  |/* Outline primary button */
                  | .btn-outline-primary {
                  |   background-color: transparent;
                  |   border-color: $bc-green-500;
                  |   color: $bc-green-500;
                  | }
                  |
                  | .btn-outline-primary:hover,
                  | .btn-outline-primary:active:hover {
                  |   border-color: $bc-green-900;
                  |   color: $bc-green-900;
                  | }
                  |
                  | .btn-outline-primary:active,
                  | .btn-outline-primary.active,
                  | .btn-outline-primary:focus,
                  | .btn-outline-primary.focus,
                  | .btn-outline-primary.active.focus,
                  | .btn-outline-primary.active:focus,
                  | .btn-outline-primary:active:focus,
                  | .btn-outline-primary:active.focus {
                  |   border-color: $bc-green-700;
                  |   color: $bc-green-700;
                  | }
                  |
                  | .btn-outline-primary.disabled,
                  | .btn-outline-primary.disabled:hover,
                  | .btn-outline-primary.disabled:focus {
                  |   border-color: $bc-green-500;
                  |   color: $bc-green-500;
                  |   opacity: .60;
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more
      section.margin-top-xxl
        h3.title-strong
          | Danger button
        p
          | Use the danger button to indicate destructive or negative actions. For example, deleting
          | data.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#danger-button-examples', aria-controls='danger-button-examples', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#danger-button-css-snippet', aria-controls='danger-button-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #danger-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-danger
                  | Button
                button.btn.btn-danger.disabled
                  | Disabled
              pre.prettyprint
                code
                  | &lt;button class='btn btn-danger'&gt;Button&lt;/button&gt;
                  | &lt;button class='btn btn-danger disabled'&gt;Button&lt;/button&gt;
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/12f5b3d4-45e2-4f5b-99e9-ff06e3ce9fb6/Web-1920-1/', target='_blank')
              i.material-icons.md-18
                | launch
              | Buttons design specifications
          #danger-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet.js-tooltip(data-toggle='tooltip', title='Copy')
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Button */
                  | .btn { 
                  |   border-radius: 2px; 
                  |   font-weight: bold;
                  |   line-height: 18px;
                  |   padding: 8px 16px;
                  | }
                  |
                  | .btn:active,
                  | .btn.active {
                  |   box-shadow: none;
                  | }
                  |
                  |/* Danger button */
                  | .btn-danger {
                  |   background-color: $bc-red-500;
                  |   border-color: $bc-red-500;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-danger:hover,
                  | .btn-danger:active:hover {
                  |   background-color: $bc-red-900;
                  |   border-color: $bc-red-900;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-danger:active,
                  | .btn-danger.active,
                  | .btn-danger:focus,
                  | .btn-danger.focus,
                  | .btn-danger.active.focus,
                  | .btn-danger.active:focus,
                  | .btn-danger:active:focus,
                  | .btn-danger:active.focus {
                  |   background-color: $bc-red-700;
                  |   border-color: $bc-red-700;
                  |   color: $bc-white;
                  | }
                  |
                  | .btn-danger.disabled,
                  | .btn-danger.disabled:hover,
                  | .btn-danger.disabled:focus {
                  |   background-color: $bc-red-500;
                  |   border-color: $bc-red-500;
                  |   color: $bc-white;
                  |   opacity: .60;
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more
      h3.title-strong.margin-top-xxl
        | How to chose the right button class
      ul.list-no-padding
        li
          | In a UI with several buttons such as "copy", "paste", "crop", etc, 
          | since all those buttons have the same hierarchy, they should be using the 
          code
            | btn-default
          |
          | class. 
        li
          | If one of the buttons represents a call-to-action (ie "save system") 
          | where the intention is that the user saves certain information, 
          | the button class should be 
          code
            | btn-primary
          |
          | since we want the user to focus on it.
        li
          | In a scenario where a user clicks on a button using the 
          code
            | btn-default
          |
          | class which triggers a destructive action (ie "delete"), the user 
          | will be required to confirm the deletion:

      .do-dont-container
        .do-column.half-width
          .do-dont-content.js-do-dont-content
            p
              | Deleting this system cannot be reversed and all information will be lost
            .btn.btn-danger(href='#')
              | Delete
            .btn.btn-default.margin-left-s(href='#')
              | Cancel
      ul.list-no-padding
        li
          | Even though it was the user's choice to use "delete", mistakes can
          | happen and users don't always read the labels in buttons. 
          | This is why the 
          code
            | btn-danger
          |
          | class in the button helps the user to focus 
          | on the destructive action.
      .alert.alert-section.alert-info.margin-top-m
        | EOS uses 3 main button styles
        |
        code
          | btn-default
        | ,
        |
        code
          | btn-primary
        | ,
        |
        code
          | btn-danger
        | .
        |
        | The use of other Bootstrap button styles such as
        |
        code
          | btn-warning
        | ,
        |
        code
          | btn-info
        |
        | and
        |
        code
          | btn-success
        |
        | isn't allowed.
