extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Global alerts
      h4
        | Global alerts are used to inform users important information related to 
        | the entire system and not just about a section or page.

    hr
    article
      section.margin-top-xxl.global-alerts-demo
        h3.title-strong
          | Description
        ul.list-no-padding
          li
            | Global alerts appear as a fixed full-width strip on top of the screen throughout the application.
          li
            | They may include actions and/or components, for example buttons, links or close/dismiss icons.
          li
            | Global alerts should not be dismissible if the message remains relevant to the user while logged in.
          li
            | Alerts with high importance (warning or danger) should not close automatically until the situation has been resolved.

        h3.title-strong
          | Different states

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.

        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#alert-success-css-snippet', aria-controls='alert-success-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-global.alert-success
                  | Your settings have been saved. 
                  a(href='#')
                    | View Your settings
              pre.prettyprint
                code
                  | &lt;div class='alert alert-global alert-success'&gt;Your settings have been saved. &lt;a href='#'&gt;View Your settings&lt;/a&gt;&lt;/div&gt;
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
              i.material-icons.md-18
                | launch
              | Alerts design specifications
          #alert-success-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Alert */
                  | .alert {
                  |   // reset Bootstrap border-radius
                  |   border-radius: 0;
                  | }
                  |
                  | /* Global alert */
                  | .alert-global {
                  |   // reset Bootstrap border color
                  |   border-color: transparent;
                  |   color: $bc-white;
                  |   padding: 8px 24px;
                  |
                  |   a {
                  |     color: $bc-blue-500;
                  |   }
                  |
                  |   /* Success alert */
                  |   &.alert-success {
                  |     background-color: $bc-green-500;
                  |   }
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more
        .margin-top-xxl
          h4.title-strong
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-info-css-snippet', aria-controls='alert-info-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-info
                    | Logged in as John Smith. 
                    a(href='#')
                      | Log out
                pre.prettyprint
                  code
                    | &lt;div class='alert alert-global alert-info'&gt;Logged in as John Smith. &lt;a href='#'&gt;Log out&lt;/a&gt;&lt;/div&gt;
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-info-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    | }
                    |
                    | /* Global alert */
                    | .alert-global {
                    |   // reset Bootstrap border color
                    |   border-color: transparent;
                    |   color: $bc-white;
                    |   padding: 8px 24px;
                    |
                    |   a {
                    |     color: $bc-blue-500;
                    |   }
                    |
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $bc-cerulean-500;
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-warning-css-snippet', aria-controls='alert-warning-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-warning
                    | Your browser is outdated. Your Salesforce experience may be degraded. 
                    a(href='#')
                      | More information
                pre.prettyprint
                  code
                    | &lt;div class='alert alert-global alert-warning'&gt;Your browser is outdated. Your Salesforce experience may be degraded. &lt;a href='#'&gt;More information&lt;/a&gt;&lt;/div&gt;
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-warning-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    | }
                    |
                    | /* Global alert */
                    | .alert-global {
                    |   // reset Bootstrap border color
                    |   border-color: transparent;
                    |   color: $bc-white;
                    |   padding: 8px 24px;
                    |
                    |   a {
                    |     color: $bc-blue-500;
                    |   }
                    |
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $bc-yellow-900;
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-danger-css-snippet', aria-controls='alert-danger-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-danger
                    | Connection has been lost. Retrying in 30 seconds. 
                    a(href='#')
                      | Retry Now
                pre.prettyprint
                  code
                    | &lt;div class='alert alert-global alert-danger'&gt;Connection has been lost. Retrying in 30 seconds. &lt;a href='#'&gt;Retry Now&lt;/a&gt;&lt;/div&gt;
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-danger-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    | }
                    |
                    | /* Global alert */
                    | .alert-global {
                    |   // reset Bootstrap border color
                    |   border-color: transparent;
                    |   color: $bc-white;
                    |   padding: 8px 24px;
                    |
                    |   a {
                    |     color: $bc-blue-500;
                    |   }
                    |
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $bc-red-500;
                    |   }
                    | }
                    
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
