extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Alerts
      h4
        | Alerts inform users about a task and may contain critical information, require decisions or involve multiple tasks.

    hr
    article
      section.margin-top-xxl
        h3
          | Positioning alerts
        .row
          .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
            a.alerts-card.card.card-vertical.clickable(href='/alerts/global')
              .card-content
                header
                  h3
                    | Global alerts
                p.alert-card-description.margin-bottom-xxl
                  | This type is often in a reserved space which alerts the user 
                  | of a message, ensuring that it is noticeable in all pages.
                .figure-wrap
                  figure
                    img(src='/images/alerts/global-alert.svg')
              footer
                | Global alert
          .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
            a.alerts-card.card.card-vertical.clickable(href='/alerts/section')
              .card-content
                header
                  h3
                    | Section alerts
                p.alert-card-description.margin-bottom-xxl
                  | Use section alerts in a specific area or section.
                  | These should appear directly above the related content.
                .figure-wrap
                  figure
                    img(src='/images/alerts/inline-alert.svg')
              footer
                | Section alert
          .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
            a.alerts-card.card.card-vertical.clickable(href='/alerts/inline')
              .card-content
                header
                  h3
                    | Inline alerts
                p.alert-card-description.margin-bottom-xxl
                  | Inline alerts appear at top of the related container.
                .figure-wrap
                  figure
                    img(src='/images/alerts/section-alert.svg')
              footer
                | Inline alert
