extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Section alerts
      h4
        | Section alerts differ from global alerts as they are used to inform the 
        | user of important information related to a partial section or container 
        | and are positioned directly above the given section or container.

    hr
    article
      section.margin-top-xxl.section-alerts-demo
        h3.title-strong
          | Description
        ul.list-no-padding
          li
            | Section alerts appear above the area or form they relate to.
          li
            | They can be triggered by a user interaction or action or can be a system alert related to the section.
          li
            | Should not be dismissible, unless the situation has been resolved.
          li
            | Use subject title and message when the user is required to do something in response to an alert or concerning next steps. 
          li
            | Use a link to provide more information or a button to redirect the user to the next step. 
          li
            | Use icons to provide additional clarity. Icons should be placed to the left of the title.

        h3.title-strong
          | Different states and types

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.

        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#alert-success-css-snippet', aria-controls='alert-success-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-section.alert-success.solid-bg
                  a.close.alert-close(href='javascript:void(0)')
                    i.material-icons.md-18
                      | close
                  i.material-icons.md-24.alert-icon
                    | check_circle
                  span.alert-title
                    | Success status
                  .alert-body
                    .alert-message
                      | Your settings have been saved. 
                      a.alert-link(href='javascript:void(0)')
                        | Know more
                    button.btn.btn-default
                      | View setting
                .margin-top-m
                  .alert.alert-section.alert-success
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    i.material-icons.md-24.alert-icon
                      | check_circle
                    span.alert-title
                      | Success status
                    .alert-body
                      .alert-message
                        | This is a success alert with an 
                        a.alert-link(href='javascript:void(0)')
                          | example link
                      button.btn.btn-default
                        | View setting
                .margin-top-m
                  .alert.alert-section.alert-success.inline
                    .alert-body
                      | This is a success alert with an 
                      a.alert-link(href='javascript:void(0)')
                        | example link
                    button.btn.btn-default.pull-right
                      | View setting
              .css-snippet-container
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | &lt;!--Success section alert with solid background--&gt;
                    | &lt;div class="alert alert-section alert-success solid-bg"&gt;
                    |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                    |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Success status&lt;/span&gt;
                    |   &lt;div class="alert-body"&gt;
                    |     &lt;div class="alert-message"&gt;Your settings have been saved. 
                    |     &lt;a class="alert-link" href="#"&gt;Know more&lt;/a&gt;&lt;/div&gt;
                    |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                    |   &lt;/div&gt;
                    | &lt;/div&gt;
                    |
                    | &lt;!--Success standard dismissible section alert--&gt;
                    | &lt;div class="alert alert-section alert-success"&gt;
                    |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                    |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Success status&lt;/span&gt;
                    |   &lt;div class="alert-body"&gt;
                    |     &lt;div class="alert-message"&gt;This is a success alert with an 
                    |     &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                    |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                    |   &lt;/div&gt;
                    | &lt;/div&gt;
                    |
                    | &lt;!--Non-dismissible success section alert--&gt;
                    | &lt;div class="alert alert-section alert-success inline"&gt;
                    |   &lt;div class="alert-body"&gt;This is a success alert with an &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                    |   &lt;button class="btn btn-default pull-right"&gt;View setting&lt;/button&gt;
                    | &lt;/div&gt;
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
              i.material-icons.md-18
                | launch
              | Alerts design specifications
          #alert-success-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Alert shared */
                  | .alert {
                  |   // reset Bootstrap border-radius
                  |   border-radius: 0;
                  | }
                  |
                  | .alert-section {
                  |   // reset Bootstrap default border colours
                  |   border-color: transparent;
                  |   padding: 8px 0 8px 20px;
                  |
                  |   .alert-title {
                  |     font-size: 16px;
                  |     margin-bottom: 8px;
                  |   }
                  |
                  |   .alert-body {
                  |     margin-left: 32px;
                  |   }
                  |
                  |   .alert-message {
                  |     margin-bottom: 16px;
                  |   }
                  |
                  |   // Success alert with inline button
                  |   &.inline {
                  |     display: flex;
                  |     justify-content: space-between;
                  |
                  |     .alert-body {
                  |       align-self: center;
                  |       margin-left: 0;
                  |     }
                  |   }
                  |
                  |   /* Success alert */
                  |   &.alert-success {
                  |     background-color: $bc-white;
                  |     border: 1px solid $bc-green-500;
                  |     border-left: 5px solid $bc-green-500;
                  |     color: $bc-gray-900;
                  |
                  |     .alert-link {
                  |       color: $bc-cerulean-900;
                  |       font-weight: normal;
                  |     }
                  |
                  |     .alert-icon {
                  |       color: $bc-green-500;
                  |     }

                  |     // Success alert with solid bg
                  |     &.solid-bg {
                  |       background-color: $bc-green-100;
                  |       // reset inherited border properties
                  |       border: 0;
                  |       // add left border again
                  |       border-left: 5px solid $bc-green-500;
                  |       color: $bc-blue-400;
                  |
                  |       .alert-link {
                  |         color: $bc-blue-700;
                  |         font-weight: bold;
                  |       }
                  |     }
                  |   }
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-info-css-snippet', aria-controls='alert-info-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-info.solid-bg
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    i.material-icons.md-24.alert-icon
                      | info
                    span.alert-title
                      | Information Status
                    .alert-body
                      .alert-message
                        | Your settings have been saved. 
                        a.alert-link(href='javascript:void(0)')
                          | Know more
                      button.btn.btn-default
                        | View setting
                  .margin-top-m
                    .alert.alert-section.alert-info
                      a.close.alert-close(href='javascript:void(0)')
                        i.material-icons.md-18
                          | close
                      i.material-icons.md-24.alert-icon
                        | info
                      span.alert-title
                        | Information Status
                      .alert-body
                        .alert-message
                          | This is an information alert with an 
                          a.alert-link(href='javascript:void(0)')
                            | example link
                        button.btn.btn-default
                          | View setting
                  .margin-top-m
                    .alert.alert-section.alert-info.inline
                      .alert-body
                        | This is an information alert with an 
                        a.alert-link(href='javascript:void(0)')
                          | example link
                      button.btn.btn-default.pull-right
                        | View setting
                .css-snippet-container
                  pre.prettyprint.snippet-code.js-snippet-code
                    code
                      | &lt;!--Info section alert with solid background--&gt;
                      | &lt;div class="alert alert-section alert-info solid-bg"&gt;
                      |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                      |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Information Status&lt;/span&gt;
                      |   &lt;div class="alert-body"&gt;
                      |     &lt;div class="alert-message"&gt;Your settings have been saved. 
                      |     &lt;a class="alert-link" href="#"&gt;Know more&lt;/a&gt;&lt;/div&gt;
                      |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
                      |
                      | &lt;!--Standard dismissible section info alert--&gt;
                      | &lt;div class="alert alert-section alert-info"&gt;
                      |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                      |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Information Status&lt;/span&gt;
                      |   &lt;div class="alert-body"&gt;
                      |     &lt;div class="alert-message"&gt;This is an information alert with an 
                      |     &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                      |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
                      |
                      | &lt;!--Non-dismissible section info alert--&gt;
                      | &lt;div class="alert alert-section alert-info inline"&gt;
                      |   &lt;div class="alert-body"&gt;This is an information alert with an &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                      |   &lt;button class="btn btn-default pull-right"&gt;View setting&lt;/button&gt;
                      | &lt;/div&gt;
                  button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                    | Show more
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-info-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert shared */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    | }
                    |
                    | .alert-section {
                    |   // reset Bootstrap default border colours
                    |   border-color: transparent;
                    |   padding: 8px 0 8px 20px;
                    |
                    |   .alert-title {
                    |     font-size: 16px;
                    |     margin-bottom: 8px;
                    |   }
                    |
                    |   .alert-body {
                    |     margin-left: 32px;
                    |   }
                    |
                    |   .alert-message {
                    |     margin-bottom: 16px;
                    |   }
                    |
                    |   // Info alert with inline button
                    |   &.inline {
                    |     display: flex;
                    |     justify-content: space-between;
                    |
                    |     .alert-body {
                    |       align-self: center;
                    |       margin-left: 0;
                    |     }
                    |   }
                    |
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $bc-white;
                    |     border: 1px solid $bc-cerulean-500;
                    |     border-left: 5px solid $bc-cerulean-500;
                    |     color: $bc-gray-900;
                    |
                    |     .alert-link {
                    |       color: $bc-cerulean-900;
                    |       font-weight: normal;
                    |     }
                    |
                    |     .alert-icon {
                    |       color: $bc-cerulean-500;
                    |     }
                    |
                    |     // Info alert with solid bg
                    |     &.solid-bg {
                    |       background-color: $bc-cerulean-100;
                    |       // reset inherited border properties
                    |       border: 0;
                    |       // add left border again
                    |       border-left: 5px solid $bc-cerulean-500;
                    |       color: $bc-blue-400;
                    |
                    |       .alert-link {
                    |         color: $bc-blue-700;
                    |         font-weight: bold;
                    |       }
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-warning-css-snippet', aria-controls='alert-warning-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-warning.solid-bg
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    i.material-icons.md-24.alert-icon
                      | warning
                    span.alert-title
                      | Information Status
                    .alert-body
                      .alert-message
                        | Your settings have been saved. 
                        a.alert-link(href='javascript:void(0)')
                          | Know more
                      button.btn.btn-default
                        | View setting
                  .margin-top-m
                    .alert.alert-section.alert-warning
                      a.close.alert-close(href='javascript:void(0)')
                        i.material-icons.md-18
                          | close
                      i.material-icons.md-24.alert-icon
                        | warning
                      span.alert-title
                        | Information Status
                      .alert-body
                        .alert-message
                          | This is a warning alert with an 
                          a.alert-link(href='javascript:void(0)')
                            | example link
                        button.btn.btn-default
                          | View setting
                  .margin-top-m
                    .alert.alert-section.alert-warning.inline
                      .alert-body
                        | This is a warning alert with an 
                        a.alert-link(href='javascript:void(0)')
                          | example link
                      button.btn.btn-default.pull-right
                        | View setting
                .css-snippet-container
                  pre.prettyprint.snippet-code.js-snippet-code
                    code
                      | &lt;!--Warning section alert with solid background--&gt;
                      | &lt;div class="alert alert-section alert-warning solid-bg"&gt;
                      |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                      |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Information Status&lt;/span&gt;
                      |   &lt;div class="alert-body"&gt;
                      |     &lt;div class="alert-message"&gt;Your settings have been saved. 
                      |     &lt;a class="alert-link" href="#"&gt;Know more&lt;/a&gt;&lt;/div&gt;
                      |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
                      |
                      | &lt;!--Standard  dismissible section warning alert--&gt;
                      | &lt;div class="alert alert-section alert-warning"&gt;
                      |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                      |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Information Status&lt;/span&gt;
                      |   &lt;div class="alert-body"&gt;
                      |     &lt;div class="alert-message"&gt;This is a warning alert with an 
                      |     &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                      |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
                      |
                      | &lt;!--Non-dismissible section warning alert--&gt;
                      | &lt;div class="alert alert-section alert-warning inline"&gt;
                      |   &lt;div class="alert-body"&gt;This is a warning alert with an &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                      |   &lt;button class="btn btn-default pull-right"&gt;View setting&lt;/button&gt;
                      | &lt;/div&gt;
                  button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                    | Show more
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-warning-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert shared */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    | }
                    |
                    | .alert-section {
                    |   // reset Bootstrap default border colours
                    |   border-color: transparent;
                    |   padding: 8px 0 8px 20px;
                    |
                    |   .alert-title {
                    |     font-size: 16px;
                    |     margin-bottom: 8px;
                    |   }
                    |
                    |   .alert-body {
                    |     margin-left: 32px;
                    |   }
                    |
                    |   .alert-message {
                    |     margin-bottom: 16px;
                    |   }
                    |
                    |   // Warning alert with inline button
                    |   &.inline {
                    |     display: flex;
                    |     justify-content: space-between;
                    |
                    |     .alert-body {
                    |       align-self: center;
                    |       margin-left: 0;
                    |     }
                    |   }
                    |
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $bc-white;
                    |     border: 1px solid $bc-yellow-900;
                    |     border-left: 5px solid $bc-yellow-900;
                    |     color: $bc-gray-900;
                    |
                    |     .alert-link {
                    |       color: $alert-section-info-link;
                    |       font-weight: normal;
                    |     }
                    |
                    |     .alert-icon {
                    |       color: $bc-yellow-900;
                    |     }
                    |
                    |     // Warning alert with solid bg
                    |     &.solid-bg {
                    |       background-color: $bc-yellow-100;
                    |       // reset inherited border properties
                    |       border: 0;
                    |       // add left border again
                    |       border-left: 5px solid $bc-yellow-900;
                    |       color: $bc-blue-400;
                    |
                    |       .alert-link {
                    |         color: $bc-blue-700;
                    |         font-weight: bold;
                    |       }
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-danger-css-snippet', aria-controls='alert-danger-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-danger.solid-bg
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    i.material-icons.md-24.alert-icon
                      | error_outline
                    span.alert-title
                      | Information Status
                    .alert-body
                      .alert-message
                        | Your settings have been saved. 
                        a.alert-link(href='javascript:void(0)')
                          | Know more
                      button.btn.btn-default
                        | View setting
                  .margin-top-m
                    .alert.alert-section.alert-danger
                      a.close.alert-close(href='javascript:void(0)')
                        i.material-icons.md-18
                          | close
                      i.material-icons.md-24.alert-icon
                        | error_outline
                      span.alert-title
                        | Information Status
                      .alert-body
                        .alert-message
                          | This is a danger alert with an 
                          a.alert-link(href='javascript:void(0)')
                            | example link
                        button.btn.btn-default
                          | View setting
                  .margin-top-m
                    .alert.alert-section.alert-danger.inline
                      .alert-body
                        | This is a warning alert with an 
                        a.alert-link(href='javascript:void(0)')
                          | example link
                      button.btn.btn-default.pull-right
                        | View setting
                .css-snippet-container
                  pre.prettyprint.snippet-code.js-snippet-code
                    code
                      | &lt;!--Danger section alert with solid background--&gt;
                      | &lt;div class="alert alert-section alert-danger solid-bg"&gt;
                      |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                      |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Information Status&lt;/span&gt;
                      |   &lt;div class="alert-body"&gt;
                      |     &lt;div class="alert-message"&gt;Your settings have been saved. 
                      |     &lt;a class="alert-link" href="#"&gt;Know more&lt;/a&gt;&lt;/div&gt;
                      |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
                      |
                      | &lt;!--Standard  dismissible section danger alert--&gt;
                      | &lt;div class="alert alert-section alert-danger"&gt;
                      |   &lt;a class="close alert-close" href="#"&gt;&lt;i class="material-icons md-18"&gt;close&lt;/i&gt;&lt;/a&gt;
                      |   &lt;i class="material-icons md-24 alert-icon"&gt;check_circle&lt;/i&gt;&lt;span class="alert-title"&gt;Information Status&lt;/span&gt;
                      |   &lt;div class="alert-body"&gt;
                      |     &lt;div class="alert-message"&gt;This is a infodanger alert with an 
                      |     &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                      |     &lt;button class="btn btn-default"&gt;View setting&lt;/button&gt;
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
                      |
                      | &lt;!--Non-dismissible section danger alert--&gt;
                      | &lt;div class="alert alert-section alert-danger inline"&gt;
                      |   &lt;div class="alert-body"&gt;This is a infodanger alert with an &lt;a class="alert-link" href="#"&gt;example link&lt;/a&gt;&lt;/div&gt;
                      |   &lt;button class="btn btn-default pull-right"&gt;View setting&lt;/button&gt;
                      | &lt;/div&gt;
                  button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                    | Show more
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-danger-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert shared */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    | }
                    |
                    | .alert-section {
                    |   // reset Bootstrap default border colours
                    |   border-color: transparent;
                    |   padding: 8px 0 8px 20px;
                    |
                    |   .alert-title {
                    |     font-size: 16px;
                    |     margin-bottom: 8px;
                    |   }
                    |
                    |   .alert-body {
                    |     margin-left: 32px;
                    |   }
                    |
                    |   .alert-message {
                    |     margin-bottom: 16px;
                    |   }
                    |
                    |   // Danger alert with inline button
                    |   &.inline {
                    |     display: flex;
                    |     justify-content: space-between;
                    |
                    |     .alert-body {
                    |       align-self: center;
                    |       margin-left: 0;
                    |     }
                    |   }
                    |
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $bc-white;
                    |     border: 1px solid $bc-red-500;
                    |     border-left: 5px solid $bc-red-500;
                    |     color: $bc-gray-900;
                    |
                    |     .alert-link {
                    |       color: $alert-section-info-link;
                    |       font-weight: normal;
                    |     }
                    |
                    |     .alert-icon {
                    |       color: $bc-yellow-900;
                    |     }
                    |
                    |     // Danger alert with solid bg
                    |     &.solid-bg {
                    |       background-color: $bc-red-100;
                    |       // reset inherited border properties
                    |       border: 0;
                    |       // add left border again
                    |       border-left: 5px solid $bc-red-500;
                    |       color: $bc-blue-400;
                    |
                    |       .alert-link {
                    |         color: $bc-blue-700;
                    |         font-weight: bold;
                    |       }
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
