section.submenu.js-submenu-section
  //- Colors
  nav.main-submenu(class= docPath.match(/.*?colors/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/colors/how-to', class= docPath === '/colors/how-to' ? 'selected' : '', class= docEnabled['/colors/how-to'].enabled ? '' : 'hidden')
      | How to use
    a.submenu-item(href='/colors/gradients', class= docPath === '/colors/gradients' ? 'selected' : '', class= docEnabled['/colors/gradients'].enabled ? '' : 'hidden')
      | Gradients

  //- Icons
  nav.main-submenu(class= docPath.match(/\/(icons(?!-))/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/icons/eos-icons-set', class= docPath === '/icons/eos-icons-set' ? 'selected' : '', class= docEnabled['/icons/eos-icons-set'].enabled ? '' : 'hidden')
      | EOS icons set
    a.submenu-item(href='/icons/logo-icons-set', class= docPath === '/icons/logo-icons-set' ? 'selected' : '', class= docEnabled['/icons/logo-icons-set'].enabled ? '' : 'hidden')
      | Logo icons set
    a.submenu-item(href='/icons/icon-ux', class= docPath === '/icons/icon-ux' ? 'selected' : '', class= docEnabled['/icons/icon-ux'].enabled ? '' : 'hidden')
      | Icon UX
    a.submenu-item(href='/icons/when-to-use-them', class= docPath === '/icons/when-to-use-them' ? 'selected' : '', class= docEnabled['/icons/when-to-use-them'].enabled ? '' : 'hidden')
      | Do's and don'ts

  //- Writing guides
  nav.main-submenu(class= docPath.match(/.*?writing/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/writing/brand-voice', class= docPath === '/writing/brand-voice' ? 'selected' : '', class= docEnabled['/writing/brand-voice'].enabled ? '' : 'hidden')
      | Brand voice
    a.submenu-item(href='/writing/brand-tone', class= docPath === '/writing/brand-tone' ? 'selected' : '', class= docEnabled['/writing/brand-tone'].enabled ? '' : 'hidden')
      | Brand tone
    a.submenu-item(href='/writing/ux-writing', class= docPath === '/writing/ux-writing' ? 'selected' : '', class= docEnabled['/writing/ux-writing'].enabled ? '' : 'hidden')
      | UX writing
    a.submenu-item(href='/writing/conventions-and-rules', class= docPath === '/writing/conventions-and-rules' ? 'selected' : '', class= docEnabled['/writing/conventions-and-rules'].enabled ? '' : 'hidden')
      | Conventions and rules

  //- Buttons
  nav.main-submenu(class= docPath.match(/.*?buttons/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/buttons/icon-buttons', class= docPath === '/buttons/icon-buttons' ? 'selected' : '', class= docEnabled['/buttons/icon-buttons'].enabled ? '' : 'hidden')
      | Icon buttons
    a.submenu-item(href='/buttons/sizing', class= docPath === '/buttons/sizing' ? 'selected' : '', class= docEnabled['/buttons/sizing'].enabled ? '' : 'hidden')
      | Sizing

  //- Alerts
  nav.main-submenu(class= docPath.match(/\/(alerts(?!-))/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/alerts/global', class= docPath === '/alerts/global' ? 'selected' : '', class= docEnabled['/alerts/global'].enabled ? '' : 'hidden')
      | Global
    a.submenu-item(href='/alerts/section', class= docPath === '/alerts/section' ? 'selected' : '', class= docEnabled['/alerts/section'].enabled ? '' : 'hidden')
      | Section
    a.submenu-item(href='/alerts/inline', class= docPath === '/alerts/inline' ? 'selected' : '', class= docEnabled['/alerts/inline'].enabled ? '' : 'hidden')
      | Inline

  //- Responsive nav
  .dropdown.dropdown-more.js-submenu-more
    a.submenu-item.dropdown-toggle(data-toggle='dropdown')
      i.material-icons.md-24
        | more_horiz
    ul.dropdown-menu.dropdown-menu-left.js-submenu-content
      li
        span More
      li.js-submenu-more-list
