/* Implementation examples variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$ie-result-default-border: $bc-gray-80;
$ie-result-dark-color: $bc-gray-900;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$ie-border-radius-size: $base-border-radius-size;
$ie-result-padding: $l 0;
$ie-vertical: $l 0;
$ie-btn-margin-right: $s;
$ie-full-width-btn-margin-bottom: $s;
$ie-footer-padding: $m;
