extends ../layouts/layout-main

block content
  .container
    section
      h1
        | #{articleTitle}
      h4
        | #{articleSubtitle}
      p
        | Created at: #{articleDate}
    hr
    article
      section.margin-top-xxl
        != markdown(articleContent)
