/* Card variables
   ========================================================================== */
/**
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$link-box-color: $bc-gray-500;
$link-box-color-darker: $bc-gray-900;
$link-box-left-background: #f5f5f5;
$link-box-after-color: $bc-cerulean-900;
$link-box-background-size: $xxxl;
$link-box-border-radius: 2px;
$link-box-hight: 100px;
$link-box-image-width: 60px;
$link-box-right-padding: $m;
