extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Colors
      h4
        | This color palette comprises the primary and accent colors to be used 
        | in all  #{config.brand} applications. They’ve been designed to work harmoniously with each other.
    hr
    article
      h3.title-strong
        | Primary colors
      p
        | These are our primary brand colors that should be used the majority 
        | of the time in branded assets.
      .colors-wrap
        .color-wrap.bc-green
          .color-title
            h4
              | Green
            p
              | $bc-green
          .used-for
            p
              | Use for: primary color, CTA, and active status.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#00C081')
              | 500
              span.hex
                | #00C081
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#E0F7F0')
                  span
                    | 100
                    span.hex
                      | #E0F7F0
                .color.js-cc.color-200(data-clipboard-text='#B3ECD9')
                  span
                    | 200
                    span.hex
                      | #B3ECD9
                .color.js-cc.color-300(data-clipboard-text='#4DD3A7')
                  span
                    | 300
                    span.hex
                      | #4DD3A7
                .color.js-cc.color-400(data-clipboard-text='#26C994')
                  span
                    | 400
                    span.hex
                      | #26C994
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#00BA79')
                  span
                    | 600
                    span.hex
                      | #00BA79
                .color.js-cc.color-700(data-clipboard-text='#00B26E')
                  span
                    | 700
                    span.hex
                      | #00B26E
                .color.js-cc.color-800(data-clipboard-text='#00AA64')
                  span
                    | 800
                    span.hex
                      | #00AA64
                .color.js-cc.color-900(data-clipboard-text='#009C51')
                  span
                    | 900
                    span.hex
                      | #009C51
        .color-wrap.bc-blue
          .color-title
            h4
              | Blue
            p
              | $bc-blue
          .used-for
            p
              | Use for: menu background and alternative link color.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#0D2C40')
              | 500
              span
                | #0D2C40
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#B6C0C6')
                  span
                    | 100
                    span.hex
                      | #B6C0C6
                .color.js-cc.color-200(data-clipboard-text='#8696A0')
                  span
                    | 200
                    span.hex
                      | #8696A0
                .color.js-cc.color-300(data-clipboard-text='#566B79')
                  span
                    | 300
                    span.hex
                      | #566B79
                .color.js-cc.color-400(data-clipboard-text='#314C5D')
                  span
                    | 400
                    span.hex
                      | #314C5D
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#002038')
                  span
                    | 600
                    span.hex
                      | #002038
                .color.js-cc.color-700(data-clipboard-text='#092132')
                  span
                    | 700
                    span.hex
                      | #092132
                .color.js-cc.color-800(data-clipboard-text='#071B2A')
                  span
                    | 800
                    span.hex
                      | #071B2A
                .color.js-cc.color-900(data-clipboard-text='#03101C')
                  span
                    | 900
                    span.hex
                      | #03101C
      h3.title-strong.margin-top-xxl
        | Secondary colors
      p
        | The secondary colors are used to complement the primary colors. 
        | They should be used in conjunction with the primary colors, but should
        | not overpower or distort the color perception of the brand — 
        | which is Green.
      .colors-wrap
        .color-wrap.bc-cerulean
          .color-title
            h4
              | Cerulean
            p
              | $bc-cerulean
          .used-for
            p
              | Use for: default link color and info status.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#00B2E2')
              | 500
              span
                | #00B2E2
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#B3E8F6')
                  span
                    | 100
                    span.hex
                      | #B3E8F6
                .color.js-cc.color-200(data-clipboard-text='#80D9F1')
                  span
                    | 200
                    span.hex
                      | #80D9F1
                .color.js-cc.color-300(data-clipboard-text='#4DC9EB')
                  span
                    | 300
                    span.hex
                      | #4DC9EB
                .color.js-cc.color-400(data-clipboard-text='#26BEE6')
                  span
                    | 400
                    span.hex
                      | #26BEE6
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#00ABDF')
                  span
                    | 600
                    span.hex
                      | #00ABDF
                .color.js-cc.color-700(data-clipboard-text='#00A2DA')
                  span
                    | 700
                    span.hex
                      | #00A2DA
                .color.js-cc.color-800(data-clipboard-text='#0099D6')
                  span
                    | 800
                    span.hex
                      | #0099D6
                .color.js-cc.color-900(data-clipboard-text='#008ACF')
                  span
                    | 900
                    span.hex
                      | #008ACF
        .color-wrap.bc-yellow
          .color-title
            h4
              | Yellow
            p
              | $bc-yellow
          .used-for
            p
              | Use for: warning indication.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#FFC107')
              | 500
              span
                | #FFC107
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#FFECB5')
                  span
                    |  100
                    span.hex
                      | #FFECB5
                .color.js-cc.color-200(data-clipboard-text='#FFE083')
                  span
                    | 200
                    span.hex
                      | #FFE083
                .color.js-cc.color-300(data-clipboard-text='#FFD451')
                  span
                    | 300
                    span.hex
                      | #FFD451
                .color.js-cc.color-400(data-clipboard-text='#FFCA2C')
                  span
                    | 400
                    span.hex
                      | #FFCA2C
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#FFBB06')
                  span
                    | 600
                    span.hex
                      | #FFBB06
                .color.js-cc.color-700(data-clipboard-text='#FFB305')
                  span
                    | 700
                    span.hex
                      | #FFB305
                .color.js-cc.color-800(data-clipboard-text='#FFAB04')
                  span
                    | 800
                    span.hex
                      | #FFAB04
                .color.js-cc.color-900(data-clipboard-text='#FF9E02')
                  span
                    | 900
                    span.hex
                      | #FF9E02
        .color-wrap.bc-red
          .color-title
            h4
              | Red
            p
              | $bc-red
          .used-for
            p
              | Use for: error or danger indication.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#DC3545')
              | 500
              span
                | #DC3545
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#F5C2C7')
                  span
                    |  100
                    span.hex
                      | #F5C2C7
                .color.js-cc.color-200(data-clipboard-text='#EE9AA2')
                  span
                    |  200
                    span.hex
                      | #EE9AA2
                .color.js-cc.color-300(data-clipboard-text='#E7727D')
                  span
                    | 300
                    span.hex
                      | #E7727D
                .color.js-cc.color-400(data-clipboard-text='#E15361')
                  span
                    |  400
                    span.hex
                      | #E15361
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#D8303E')
                  span
                    |  600
                    span.hex
                      | #D8303E
                .color.js-cc.color-700(data-clipboard-text='#D32836')
                  span
                    |  700
                    span.hex
                      | #D32836
                .color.js-cc.color-800(data-clipboard-text='#CE222E')
                  span
                    | 800
                    span.hex
                      | #CE222E
                .color.js-cc.color-900(data-clipboard-text='#C5161F')
                  span
                    | 900
                    span.hex
                      | #C5161F
        .color-wrap.bc-gray
          .color-title
            h4
              | Gray
            p
              | $bc-gray
          .used-for
            p
              | Use for: default color for text and borders
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#969494')
              | 500
              span
                | #969494
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#E0DFDF')
                  span
                    | 100
                    span.hex
                      | #E0DFDF
                .color.js-cc.color-200(data-clipboard-text='#CBCACA')
                  span
                    | 200
                    span.hex
                      | #CBCACA
                .color.js-cc.color-300(data-clipboard-text='#B6B4B4')
                  span
                    | 300
                    span.hex
                      | #B6B4B4
                .color.js-cc.color-400(data-clipboard-text='#A6A4A4')
                  span
                    | 400
                    span.hex
                      | #A6A4A4
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#8E8C8C')
                  span
                    | 600
                    span.hex
                      | #8E8C8C
                .color.js-cc.color-700(data-clipboard-text='#838181')
                  span
                    | 700
                    span.hex
                      | #838181
                .color.js-cc.color-800(data-clipboard-text='#797777')
                  span
                    | 800
                    span.hex
                      | #797777
                .color.js-cc.color-900(data-clipboard-text='#686565')
                  span
                    | 900
                    span.hex
                      | #686565
        .color-wrap.bc-orange
          .color-title
            h4
              | Orange
            p
              | $bc-orange
          .used-for
            p
              | Use for: decoration and graphics.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#F75C03')
              | 500
              span
                | #F75C03
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#FDCEB3')
                  span
                    |  100
                    span.hex
                      | #FDCEB3
                .color.js-cc.color-200(data-clipboard-text='#FBAE81')
                  span
                    | 200
                    span.hex
                      | #FBAE81
                .color.js-cc.color-300(data-clipboard-text='#F98D4F')
                  span
                    | 300
                    span.hex
                      | #F98D4F
                .color.js-cc.color-400(data-clipboard-text='#F87429')
                  span
                    | 400
                    span.hex
                      | #F87429
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#F65403')
                  span
                    | 600
                    span.hex
                      | #F65403
                .color.js-cc.color-700(data-clipboard-text='#F54A02')
                  span
                    | 700
                    span.hex
                      | #F54A02
                .color.js-cc.color-800(data-clipboard-text='#F34102')
                  span
                    | 800
                    span.hex
                      | #F34102
                .color.js-cc.color-900(data-clipboard-text='#F13001')
                  span
                    | 900
                    span.hex
                      | #F13001
        
        .color-wrap.bc-violet
          .color-title
            h4
              | Violet
            p
              | $bc-violet
          .used-for
            p
              | Use for: decoration and graphics.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#841781')
              | 500
              span
                | #841781
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#DAB9D9')
                  span
                    |  100
                    span.hex
                      | #DAB9D9
                .color.js-cc.color-200(data-clipboard-text='#C28BC0')
                  span
                    |  200
                    span.hex
                      | #C28BC0
                .color.js-cc.color-300(data-clipboard-text='#A95DA7')
                  span
                    |  300
                    span.hex
                      | #A95DA7
                .color.js-cc.color-400(data-clipboard-text='#963A94')
                  span
                    |  400
                    span.hex
                      | #963A94
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#7C1479')
                  span
                    |  600
                    span.hex
                      | #7C1479
                .color.js-cc.color-700(data-clipboard-text='#71116E')
                  span
                    |  700
                    span.hex
                      | #71116E
                .color.js-cc.color-800(data-clipboard-text='#670D64')
                  span
                    |  800
                    span.hex
                      | #670D64
                .color.js-cc.color-900(data-clipboard-text='#540751')
                  span
                    |  900
                    span.hex
                      | #540751

      h3.title-strong.margin-top-xxl
        | Monochromatic colors
      p
        | The monochromatic palette is used to define text and background colors.

      .colors-wrap
        .color-wrap
          .color-title
            h4
              | White
            p
              | $bc-white
          .used-for
            p
              | Use for: main background and text of colored backgrounds.
          .color-content.color-solo
            .color-solo-box.white.js-cc(data-clipboard-text='#FFFFFF')
              span
                | #FFFFFF
        .color-wrap
          .color-title
            h4
              | Black
            p
              | $bc-black
          .used-for
            p
              | Use for: text color when white fails.
          .color-content.color-solo
            .color-solo-box.black.js-cc(data-clipboard-text='#000000')
              span
                | #000000
    hr
    article
      h3.title-strong
        | Implementation and SASS example
      p
        | Each color has its own shading between 100-900.
        | The 500 color is the main and default color to use in elements/assets.
        | The remaining shades (100, 200, etc.) must be used as accent colors. 
        
      p
        | When defining color variables, use the variable names starting with 
        strong
          | bc- 
        | as prefix, which stands for "brand color". This will improve consistency
        | across products. Or simply  
        a(href=stylesheetURL)
          | download the colors stylesheet 
        | from our repository.
      h5.title-strong
        | Example of usage:
      p
        | Let's say we are creating a new primary button that requires darker borders. 
        | We should use the 500 shade of the "Green" color for the background, and
        | the shade 700 of the same color for the borders:
      pre.prettyprint
        code
          | .btn-primary{
          |   background: $bc-green-500;
          |   border: 1px solid $bc-green-700;
          | }
    hr
    article
      h3.title-strong
        | Download color palettes
      .row
        .col-md-6
          a.link-box(href='https://adobe.ly/2BXCHk4', target='_blank')
            .link-box-left
              img.img-responsive(src='./images/colors/adobe.svg', alt='Adobe logo')
            .link-box-right
              h4
                | Color palettes for Adobe
              p
                | Download 
                strong
                  | .ase 
                | file for Adobe Photoshop and Illustration
        .col-md-6
          a.link-box(href='https://adobe.ly/2XFJJTO', target='_blank')
            .link-box-left
              img.img-responsive(src='./images/colors/Inkscape.logo.svg', alt='Inkscape logo')
            .link-box-right
              h4
                | Color palettes for Inkscape
              p
                | Download 
                strong
                  | .gpl 
                | file for Inkscape (also works with GIMP)
